<!DOCTYPE html>
<html>
  <head>
    {% if is_valid == False %}
      <title>No Team Found</title>
    {% else %}
      <title>{{ label }}</title>
    {% endif %}
  </head>
  <body>
    {% if is_valid == False %}
      <h1>Invalid IRI</h1>
      No Team found with label {{ label }}
    {% else %}
    <div>
        <h1>{{ team_name }}</h1>
    </div>
    <div>
        Inception Year: {{inception}}
    </div>
    <div>
        League: <a href="{{league_iri}}">{{league_name}}</a>,
    </div>
    <div>
        Captain: <a href="{{captain_iri}}">{{captain_name}}</a>
    </div>
    <br>
    <a href="{{ team_iri }}">More Details</a>
    <br>
    {% endif %}
    <br>
    <br>
    <form action="{% url 'main:show_search' %}" method="GET">
      <button type="Submit">Search Again</button>
    </form>
  </body>
</html>